.middle {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  padding-top: 75px;
  padding-bottom: 75px;
  z-index: 3;
  
  border: 5px solid black;
}